<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bakemonogatari</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>

            <a asp-controller="GS" asp-action="Index">Ghost Stories</a>

            <a asp-controller="UE" asp-action="Index">Unexplained Events</a>

            <a asp-controller="GM" asp-action="Index">G-I-T-M</a>




            @if (User.Identity.IsAuthenticated)
            {

                <a asp-controller="Panel" asp-action="Edit">Create Post</a>
                <a asp-controller="Panel" asp-action="Index">Panel</a>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>

            }
        </nav>

    </div>
   
    <div>
        
            @RenderBody()
        
    </div>

    @RenderSection("scripts", false)

    
</body>
</html>
